.card-body {
  justify-content: space-between;
}

.card-title {
  margin-bottom: 12px !important;
}

.card-links a:not(:last-child) {
  margin-right: 6px;
}

.card-links a:hover {
  color: var(--graphite);
}

.listing-category {
  cursor: default !important;
}
