@import url("https://fonts.googleapis.com/css?family=Quicksand:500");

:root {
  --graphite: #2a2a2a
}

nav, h1, h2 {
  font-family: Quicksand, Sans-Serif;
}

nav a:hover {
  color: var(--graphite) !important;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

main {
  text-align: center;
}

a {
  text-decoration: none;
  color: #626d78;
}

.navbar {
  background-color: white;
}

.quarto-post {
  border-bottom: none !important;
}

.quarto-post {
  display: block !important;
}

.quarto-title-block {
  margin-bottom: 42px !important;
}

.quarto-title {
  margin-bottom: 12px;
}

.quarto-listing h3 {
  padding-bottom: 9px;
}

.listing-actions-group {
  padding-bottom: 21px;
}

.about p {
  text-align: justify;
}

.about-link {
  border-radius: 0px !important;
}

.about-link:hover {
  color: var(--graphite) !important;
}

.link-btn:hover {
  color: white !important;
  background-color: #FFA2A5;
}

.pub-link, .listing-category {
  background-color: #FFE8E8;
  color: var(--graphite) !important;
  border-radius: 12px !important;
  border: 0px !important;
  padding: .3em .9em !important;
}
